.wrapper{
    display: flex;
    align-items: stretch;
}
#sidebar{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}
#sidebar.active{
    margin-left: -250px;
}
a[data-toggle="collapse"]{
    position: relative;
}
.dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media(max-width: 700px){
    #sidebar{
        margin-left: -250px;
    }
    #sidebar.active{
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    
    font-family: 'rubik',sans-serif;
    font-weight: 700;
    font-style: normal;
    background: #fafafa;
}

h2, #sidebar-header{
    font-family: 'rubik',sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
}


.img, #sidebar-header{
    margin:10px auto;
    display:block;}
p {
    font-family: 'rubik', sans-serif;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 500;
    line-height: 1.7em;
    color: #543f2f;
}

a{
    font-family: 'rubik', sans-serif;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: #543f2f;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #e6ce3d;
    color: #fff;
    transition: all 0.3s;

}

#sidebar .sidebar-header {
    padding: 20px;
    background: #e6ce3d;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e6ce3d;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #543f2f;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #e6ce3d;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e6ce3d;
    color: #543f2f;
}